# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Data (but keep results folder for report and images)
data/
*.pth
*.pt
*.pkl

# Keep results folder but ignore model files
results/models/

# Environment
venv/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

